/*
beige : #EDE8E2
bordeau : #771F28
*/



/* Règles globales */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h3 {
    font-size: 12px;
    line-height: 12px;
    color: #244649;
    margin-bottom: 5px;;
}

label {
    border: 1px solid #244649;
    background : #771F28;
    padding: 0;
    display: block;
    position: relative;
    overflow: hidden;
}

label span.sheet-info-container {
    padding: 5px;
    color:white;
    display: inline-block;
    height: 100%;
    text-transform: uppercase;
    font-weight: normal;
}

label span.sheet-input-container {
    background-color: #EDE8E2;
    padding: 0;
    height: 100%;
    font-size: 1.2rem;
    position: absolute;
    text-align: center;
    right: 0;
}

label span.sheet-input-container input {
    border : none;
    background-color: transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    height: 100%;
    text-align: center;
    font-size: inherit;
}

hr.clear {
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}
.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}

/* Couleurs */
label.sheet-blue {
    background : #244649;
}
label.sheet-blue input {
    background : #C8DBE8;
}
label.sheet-blue.sheet-odd span.sheet-input-container {
    background : white;
}

/* Tailles de cellules (hauteurs) */

label.sheet-small{
    height: 30px;
}

label.sheet-small > span.sheet-info-container{
    width: 35%;
    margin-top: 2px;
    font-size: 14px;
}
label.sheet-small > span.sheet-input-container{
    width: 65%;
    font-size: 14px;
}


label.sheet-large{
    height: 50px;
}

label.sheet-large > span.sheet-info-container{
    width: 60%;
    font-size: 16px;
    margin-top: 12px;
}
label.sheet-large > span.sheet-input-container{
    width: 40%;
    font-size: 16px;
}

/* Gestion des lignes groupées */

label.sheet-grouped-first {
    border-bottom: 1px solid white;
    margin-bottom: 0;
}
label.sheet-grouped  {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 0;
}
label.sheet-grouped.sheet-odd span.sheet-input-container {
    background: white;
}
label.sheet-grouped-last {
    border-top: 1px solid white;
    margin-bottom: 15px;
}

/* Jauges */
.sheet-jauge {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sheet-jauge-title, .sheet-jauge-element {
    height: 20px;
    padding-top: 2px;
    display: inline-block;
    text-align: center;
}

.sheet-jauge-title {
    background-color: #771F28;
    color: white;
    border: 1px solid #244649;
    width: 22%;
    margin-right: 1%;
}

.sheet-jauge-element {
    background-color: #EDE8E2;
    border: 1px solid #244649;
    width: 12%;
    margin-right: 1%;
    color :  #771F28;
}

/* Textarea */
.sheet-textarea p {
    background-color: #771F28;
    color:white;
    margin: 0;
    padding: 5px;
}
.sheet-textarea input, textarea {
    height: 50px;
    width: 100%;
}
.sheet-textarea input{
    text-align: center;
}
.sheet-textarea textarea{
    min-height: 90px;
    resize: none;
    background-color: #EDE8E2;
}
.sheet-textarea textarea:read-only{
    background-color:white;
}
/* Layout */

.sheet-container {
    background-color:white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    border: 3px solid #244649;
    box-sizing: border-box;
}

.sheet-section-main {
    width: 65%;
    position: relative;
    top: -45px;
}

.sheet-section-notes {
    width: 35%;
}


label.sheet-character-name {
    width : 65%;
    float:left;
    height: 40px;
}

label.sheet-character-name span.sheet-info-container {
    transform: rotate(-90deg);
    width : 8%;
    overflow: hidden;
    position: relative;
    top: -12px;
    font-size: 0.8em;
}

label.sheet-character-name span.sheet-input-container {
    width : 100%;
    top: 0;
    left: 25px;
}

.sheet-logo {
    float: right;
    width: 28%;
    text-align: right;

}

.sheet-logo span {
    color: #771F28;
    text-decoration: underline;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: inline-block;
}
.sheet-logo img {
    width: 50%;
}

/** Notes **/
.sheet-section-notes {
    width: 36%;
    height: 100%;
    float: right;
}

/** Composantes **/
.sheet-section-composantes, .sheet-section-moyens {
    width: 43%;
    float: left;
}
.sheet-section-plus {
    width: 6%;
    float: left;
    padding : 64px 0 40px 0;
    font-size: 1.4rem;
    text-align: center;
}


/** Talents **/
.sheet-section-talents {
    width: 92%;
}
.sheet-section-talents label span.sheet-info-container {
    width: 24%;
}
.sheet-section-talents label span.sheet-input-container {
    width: 76%;
}

/** Cibles / Energies **/
.sheet-section-cibles, .sheet-section-energies {
    float: left;
    width: 43%
}
.sheet-section-cibles label span.sheet-info-container,
.sheet-section-energies label span.sheet-info-container {
    width: 65%;
}
.sheet-section-cibles label span.sheet-input-container,
.sheet-section-energies label span.sheet-input-container {
    width: 35%;
}
.sheet-section-sep {
    width: 6%;
    float: left;
    display: block;
}

/** Etat **/
.sheet-section-etat {
    float: left;
    width: 70%;
    margin-bottom: 25px;
}
.sheet-section-magie {
    float: left;
    width: 22%;
}

/* Talents Pirates */
.sheet-section-talents-pirate {
    float: left;
    width: 30%;
    margin-bottom: 25px;
}
.sheet-section-talents-autres {
    float: left;
    width: 62%;
    margin-bottom: 25px;
}

/* Equipements */
.sheet-section-equipement {
    float: left;
    width: 92%;
    margin-bottom: 25px;
}

/* Notes */
.sheet-ta-notes textarea {
    height: 350px;
    margin-top: 15px;
}
/* Notes */
.sheet-ta-historique textarea {
    height: 500px;
    margin-top: 15px;
}
